# Setup for Final Database

## SQL Magic

Jupyter notes support the concept of ["magics."](https://www.tutorialspoint.com/jupyter/ipython_magic_commands.htm). Running the cell below provides some information about magics.

In [1]:
%magic

In [2]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\haomingsun\appdata\roaming\python\python39\site-packages (1.0.2)

In [3]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in e:\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in e:\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Requirement already satisfied: sqlparse in e:\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in e:\anaconda3\lib\site-packages (from ipython-sql) (1.4.32)
Requirement already satisfied: prettytable<1 in e:\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\haomingsun\appdata\roaming\python\python39\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in e:\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)
Requirement already satisfied: setuptools>=18.5 in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: jedi>=0.16 in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: stack-data in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in e:\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\users\haomingsun\appdata\roaming\python\python39\site-packages (from ipython>=1.0->ipython-sql) (0.4.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in e:\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in e:\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in e:\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in e:\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in e:\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in e:\anaconda3\lib\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)

Now bring the magic into the notebook's environment.

In [4]:
%load_ext sql

## Connect to MySql Local Server

### Type user and pw here!!!

In [9]:
db_user = "root"
db_password = "dbuserdbuser"

In [10]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:dbuserdbuser@localhost'

In [11]:
%sql $connection_string

The notebook is now connected to the database server.

In [12]:
import pymysql
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [13]:
conn

## 1. Market_History table set up - MicroService_3

### 1.1 Modify data to insert

In [ ]:
# Use a simple Python library for CSV files to read the data.
#
import csv

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./market-history-2022-01-01.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

In [ ]:
new_rows[0]

{'average': '147.3',
 'date': '2022-01-01',
 'highest': '147.3',
 'lowest': '147.3',
 'order_count': '1',
 'volume': '265',
 'region_id': '10000001',
 'type_id': '20',
 'http_last_modified': '2022-01-02T11:01:43Z'}

In [ ]:
for idx, item in enumerate(new_rows):
    item['order_id'] = str(idx + 1)
    del item['http_last_modified']
new_rows[0]

{'average': '147.3',
 'date': '2022-01-01',
 'highest': '147.3',
 'lowest': '147.3',
 'order_count': '1',
 'volume': '265',
 'region_id': '10000001',
 'type_id': '20',
 'order_id': '1'}

### 1.2 Create Database

In [ ]:
%%sql 
drop database if exists microService_3;
create database if not exists microService_3;
use microService_3

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
1 rows affected.
1 rows affected.
0 rows affected.

[]

### 1.3 Create table

In [ ]:
%sql drop table if exists Market_History

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [ ]:
%%sql
create table if not exists Market_History
(
    order_id    int not NULL,
    region_id   int not NULL,
    type_id     int not NULL,
    date        date NULL,
    highest     double NULL,
    lowest      double NULL,
    average     double NULL,
    order_count int NULL,
    volume      double NULL,
    
    PRIMARY KEY (order_id)
    
);

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [ ]:
%sql describe Market_History

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
9 rows affected.

[('order_id', 'int', 'NO', 'PRI', None, ''),
 ('region_id', 'int', 'NO', '', None, ''),
 ('type_id', 'int', 'NO', '', None, ''),
 ('date', 'date', 'YES', '', None, ''),
 ('highest', 'double', 'YES', '', None, ''),
 ('lowest', 'double', 'YES', '', None, ''),
 ('average', 'double', 'YES', '', None, ''),
 ('order_count', 'int', 'YES', '', None, ''),
 ('volume', 'double', 'YES', '', None, '')]

### 1.4 Insert Values

In [ ]:
# The %s are placeholders for adding values.
insert_sql = """
    insert into microService_3.Market_History
        (order_id, region_id, type_id, date, highest, lowest, average, order_count, volume)
    values(%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

In [ ]:
cur = conn.cursor()

In [ ]:
from tqdm import tqdm

for r in tqdm(new_rows):
    # print(r.values())
    # print("SQL = ", cur.mogrify(insert_sql, [r[list(r)[8]], r[list(r)[6]], r[list(r)[7]], r[list(r)[1]], r[list(r)[2]], r[list(r)[3]], r[list(r)[0]], r[list(r)[4]], r[list(r)[5]]]))
    res = cur.execute(insert_sql, [r[list(r)[8]], r[list(r)[6]], r[list(r)[7]], r[list(r)[1]], r[list(r)[2]], r[list(r)[3]], r[list(r)[0]], r[list(r)[4]], r[list(r)[5]]])

100%|██████████| 49241/49241 [54:01<00:00, 15.19it/s]

In [ ]:
cur.close()

In [ ]:
%sql select * from microService_3.Market_History limit 10;

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
10 rows affected.

[(1, 10000001, 20, datetime.date(2022, 1, 1), 147.3, 147.3, 147.3, 1, 265.0),
 (2, 10000001, 34, datetime.date(2022, 1, 1), 3.55, 3.55, 3.55, 30, 196251535.0),
 (3, 10000001, 35, datetime.date(2022, 1, 1), 3.16, 3.16, 3.16, 21, 20501046.0),
 (4, 10000001, 36, datetime.date(2022, 1, 1), 31.56, 31.56, 31.56, 17, 5256832.0),
 (5, 10000001, 37, datetime.date(2022, 1, 1), 43.15, 43.15, 43.15, 13, 987961.0),
 (6, 10000001, 38, datetime.date(2022, 1, 1), 338.9, 338.9, 338.9, 15, 375421.0),
 (7, 10000001, 39, datetime.date(2022, 1, 1), 778.7, 778.7, 778.7, 7, 79303.0),
 (8, 10000001, 40, datetime.date(2022, 1, 1), 210.3, 210.3, 210.3, 8, 56900.0),
 (9, 10000001, 41, datetime.date(2022, 1, 1), 14.0, 14.0, 14.0, 16, 1040.0),
 (10, 10000001, 178, datetime.date(2022, 1, 1), 1.0, 1.0, 1.0, 1, 100.0)]

## 2. Market_Orders, Type_Name, Market_Groups tables set up - MicroService_2

### 2.1 Modify data to insert

In [16]:
import csv

# market_groups
new_rows_2_1 = []
# type_name
new_rows_2_2 = []
# market_order
new_rows_2_3 = []

# 1. market_groups
with open('./market_groups.csv', mode="r", encoding="utf-8-sig") as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows_2_1.append(r)
        
        
# 2. type_name
with open('./type_name.csv', mode="r", encoding="utf-8-sig") as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows_2_2.append(r)


# 3. market_order
with open('./market-orders-latest.v3.csv', mode="r", encoding="utf-8-sig") as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows_2_3.append(r)

In [17]:
# Delete the type_id in market_orders_latest but not in type_name
# Find the array first
type_id_in_name = []
for item in new_rows_2_2:
    if not item['typeID'] in type_id_in_name:
        type_id_in_name.append(item['typeID'])

In [18]:
# Show the data

In [19]:
new_rows_2_1[0]

{'marketGroupID': '2',
 'parentGroupID': 'None',
 'marketGroupName': 'Blueprints & Reactions',
 'description': 'Blueprints are data items used in industry for manufacturing, research and invention jobs',
 'iconID': '2703',
 'hasTypes': '0'}

In [20]:
new_rows_2_2[0]

{'typeID': '0',
 'groupID': '0',
 'typeName': '#System',
 'description': '',
 'mass': '1.0000000000',
 'volume': '0E-10',
 'capacity': '0E-10',
 'portionSize': '1',
 'raceID': 'None',
 'basePrice': 'None',
 'published': '0',
 'marketGroupID': 'None',
 'iconID': 'None',
 'soundID': 'None',
 'graphicID': '0'}

In [21]:
new_rows_2_3[0]

{'duration': '90',
 'is_buy_order': 'true',
 'issued': '2022-08-12T13:12:46Z',
 'location_id': '60012124',
 'min_volume': '1',
 'order_id': '6318148702',
 'price': '0.01',
 'range': '40',
 'system_id': '30000005',
 'type_id': '18',
 'volume_remain': '1000000',
 'volume_total': '1000000',
 'region_id': '10000001',
 'http_last_modified': '2022-10-07T15:14:20Z',
 'station_id': '60012124',
 'constellation_id': '20000001',
 'universe_id': 'eve'}

### 2.2 Create Database

In [22]:
%%sql 
drop database if exists microService_2;
create database if not exists microService_2;
use microService_2

 * mysql+pymysql://root:***@localhost
0 rows affected.
1 rows affected.
0 rows affected.

[]

### 2.3 Create table

In [23]:
%%sql 
drop table if exists Market_Groups;
drop table if exists Type_Name;
drop table if exists Market_Orders;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [24]:
%%sql
create table if not exists Market_Groups
(
    market_group_id   varchar(128) not NULL,
    parent_group_id   text NULL,
    market_group_name text NULL,
    description       text NULL,
    icon_id           text NULL,
    
    PRIMARY KEY (market_group_id)
    
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [25]:
%%sql 
create table if not exists Type_Name
(
    type_id           int not NULL,
    type_name         text NULL,
    description       text NULL,
    mass              double NULL,
    volume            double NULL,
    market_group_id   text NULL,
    
    PRIMARY KEY (type_id)
    
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [26]:
%%sql 
create table if not exists Market_Orders
(
    order_id          double not NULL,
    station_id        text NULL,
    duration          int NULL,
    is_buy_order      text NULL,
    issued            text NULL,
    price             double NULL,
    volume_total      int NULL,
    volume_remain     int NULL,
    last_modified     text NULL,
    universe_id       text NULL,
    type_id           int not NULL,
    
    PRIMARY KEY (order_id),
    FOREIGN KEY (type_id) REFERENCES Type_Name(type_id)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [27]:
# %%sql 
# describe Market_Groups;
# describe Type_Name;
# describe Market_Orders;

### 2.4 Insert Values

#### 2.4.1 Market_Groups

In [28]:
import pymysql
conn = pymysql.connect(
    host="database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)
conn

OperationalError: (1045, "Access denied for user 'root'@'rca-nyc-028.rca.ic.columbia.edu' (using password: YES)")

In [29]:
insert_sql_2_1 = """
    insert into microService_2.Market_Groups
        (market_group_id, parent_group_id, market_group_name, description, icon_id)
    values(%s,%s,%s,%s,%s)
"""

In [30]:
from tqdm import tqdm

cur = conn.cursor()
for r in tqdm(new_rows_2_1):
    # print(r.values())
    res = cur.execute(insert_sql_2_1, [r[list(r)[0]], r[list(r)[1]], r[list(r)[2]], r[list(r)[3]], r[list(r)[4]]])

100%|█████████████████████████████████████████████████████████████████████████████| 1932/1932 [00:03<00:00, 542.45it/s]

In [31]:
%sql select * from microService_2.Market_Groups limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('10', '9', 'Turrets & Launchers', 'Weapon systems to inflict damage on enemy targets', '365'),
 ('100', '11', 'Hybrid Charges', 'Charges with a plasma core designed for railguns and blasters', '1047'),
 ('1000', '387', 'Faction Torpedoes', 'Faction issue torpedoes.', '1349'),
 ('1001', '580', 'Faction Cruise Missiles', 'Faction issue cruise missiles.', '184'),
 ('1002', '581', 'Faction Heavy Missiles', 'Faction issue heavy missiles.', '186'),
 ('1003', '968', 'Faction Heavy Assault Missiles', 'Faction issue heavy assault missiles.', '186'),
 ('1004', '990', 'Extra Large', 'Fired by dreadnaught-sized guns and stationary defense systems.', '1313'),
 ('1006', '986', 'Extra Large', 'Fired by dreadnaught-sized guns and stationary defense systems.', '1288'),
 ('1007', '994', 'Extra Large', 'Faction issue frequenzy crystals for use with dreadnought-sized lasers and stationary defense systems.', '1141'),
 ('1008', '406', 'Cargo Containers', 'Blueprints of Cargo Containers.', '2703')]

In [32]:
%sql select count(market_group_id) from microService_2.Market_Groups

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(1932,)]

#### 2.4.2 Type_name

In [33]:
insert_sql_2_2 = """
    insert into microService_2.Type_Name
        (type_id, type_name, description, mass, volume, market_group_id)
    values(%s,%s,%s,%s,%s,%s)
"""

In [34]:
from tqdm import tqdm
cur = conn.cursor()
for r in tqdm(new_rows_2_2):
    if r['description'] == '':
        r['description'] = 'None'
    try:
        # print(r.values())
        res = cur.execute(insert_sql_2_2, [r[list(r)[0]], r[list(r)[2]], r[list(r)[3]], r[list(r)[4]], r[list(r)[5]], r[list(r)[11]]])
    except:
        print(r)
        break

100%|███████████████████████████████████████████████████████████████████████████| 43050/43050 [01:05<00:00, 661.56it/s]

In [35]:
%sql select * from microService_2.Type_Name limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[(0, '#System', 'None', 1.0, 0.0, 'None'),
 (2, 'Corporation', 'None', 0.0, 0.0, 'None'),
 (3, 'Region', 'None', 0.0, 1.0, 'None'),
 (4, 'Constellation', 'None', 0.0, 1.0, 'None'),
 (5, 'Solar System', 'None', 0.0, 1.0, 'None'),
 (6, 'Sun G5 (Yellow)', 'A main-sequence stellar body of a class that is often yellow or yellow-orange in hue, generating and emitting energy from the vast hydrogen fusion pr ... (43 characters truncated) ... ous numbers of planets of the terrestrial and gas giant types are found around these stars and the habitable zones often contain one or more planets.', 1e+18, 1.0, 'None'),
 (7, 'Sun K7 (Orange)', 'Yellow-orange and orange stars of this type are rather stable and believed to take tens of billions of years to burn through their core hydrogen rese ... (57 characters truncated) ... lity and long life, combined with the common presence of planetary systems marks these as viable candidates for colonization and exploration efforts.', 1e+18, 1.0, 'None'),
 (8, 'Sun K5 (Red Giant)', 'This large red star has exhausted its core hydrogen fuel and is slowly expanding into a red giant, consuming all remaining hydrogen in the stellar sh ... (28 characters truncated) ... f expansion into a full red giant will take hundreds of millions of years, eventually the star will engulf any planetary system orbiting close to it.', 1e+18, 1.0, 'None'),
 (9, 'Sun B0 (Blue)', "This luminous blue star belongs to a class known for powerful stellar winds and rapid rotation. These stars generate most of their energy at the cent ... (130 characters truncated) ... nerally show strong non-ionized helium lines and some have a chemistry that results in very strong lines, leading to the designation 'helium-strong'.", 1e+18, 1.0, 'None'),
 (10, 'Sun F0 (White)', 'A main-sequence star in a class of stellar bodies that are typically white or yellow-white in hue. Hydrogen fusion drives the energy generation of th ... (110 characters truncated) ... n accompanied by mature planetary systems and tend to emit an ultraviolet radiation flux providing for habitable zones conducive to human occupation.', 1e+18, 1.0, 'None')]

In [36]:
%sql select count(type_id) from microService_2.Type_Name

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(43050,)]

#### 2.4.3 Market_Orders

In [37]:
insert_sql_2_3 = """
    insert into microService_2.Market_Orders
        (order_id, station_id, duration, is_buy_order, issued, price, volume_total, volume_remain, last_modified, universe_id, type_id)
    values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

In [38]:
from tqdm import tqdm
cur = conn.cursor()
for r in tqdm(new_rows_2_3):
    if r['station_id'] == '':
        r['station_id'] = 'None'
    if not r['type_id'] in type_id_in_name:
        continue
    try:
        # print(r.values())
        res = cur.execute(insert_sql_2_3, [r[list(r)[5]], r[list(r)[14]], r[list(r)[0]], r[list(r)[1]], r[list(r)[2]], r[list(r)[6]], r[list(r)[11]], r[list(r)[10]], r[list(r)[13]], r[list(r)[16]], r[list(r)[9]]])
    except:
        print(r)
        break

100%|███████████████████████████████████████████████████████████████████████| 1209287/1209287 [45:00<00:00, 447.79it/s]

In [39]:
%sql select * from microService_2.Market_Orders limit 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[(911190994.0, '60000004', 365, 'false', '2022-10-07T14:32:49Z', 17.31, 23572, 23572, '2022-10-07T15:14:16Z', 'eve', 41),
 (911190995.0, '60000007', 365, 'false', '2022-10-07T14:32:49Z', 21.57, 23572, 23572, '2022-10-07T15:14:16Z', 'eve', 41),
 (911190996.0, '60000010', 365, 'false', '2022-10-07T14:32:49Z', 17.31, 23572, 23572, '2022-10-07T15:14:16Z', 'eve', 41),
 (911190997.0, '60000013', 365, 'false', '2022-10-07T14:32:49Z', 20.45, 23572, 23572, '2022-10-07T15:14:16Z', 'eve', 41),
 (911190998.0, '60000016', 365, 'false', '2022-10-07T14:32:49Z', 22.4, 23572, 23572, '2022-10-07T15:14:16Z', 'eve', 41),
 (911190999.0, '60000019', 365, 'false', '2022-10-07T14:32:49Z', 22.4, 23572, 23572, '2022-10-07T15:14:16Z', 'eve', 41),
 (911191000.0, '60000022', 365, 'false', '2022-10-07T11:15:31Z', 14.0, 23572, 23572, '2022-10-07T15:13:03Z', 'eve', 41),
 (911191001.0, '60000025', 365, 'false', '2022-10-07T11:15:31Z', 14.63, 23572, 23572, '2022-10-07T15:13:03Z', 'eve', 41),
 (911191002.0, '60000028', 365, 'false', '2022-10-07T11:15:31Z', 14.0, 23572, 23572, '2022-10-07T15:13:03Z', 'eve', 41),
 (911191003.0, '60000031', 365, 'false', '2022-10-07T11:15:31Z', 14.0, 23572, 23572, '2022-10-07T15:13:03Z', 'eve', 41)]

In [40]:
%sql select count(order_id) from microService_2.Market_Orders

 * mysql+pymysql://root:***@localhost
1 rows affected.

[(1201186,)]

In [41]:
cur.close()

## 3. Entity_Name, Type_Name, Map, Station, Jumps tables set up - MicroService_1

### 3.1 Modify data to insert

In [ ]:
import csv
new_rows_1_1 = []

with open('./type_name.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows_1_1.append(r)

In [ ]:
new_rows_1_1[0]

{'typeID': '0',
 'groupID': '0',
 'typeName': '#System',
 'description': '',
 'mass': '1.0000000000',
 'volume': '0E-10',
 'capacity': '0E-10',
 'portionSize': '1',
 'raceID': 'None',
 'basePrice': 'None',
 'published': '0',
 'marketGroupID': 'None',
 'iconID': 'None',
 'soundID': 'None',
 'graphicID': '0'}

In [ ]:
new_rows_1_2 = []

with open('./map.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows_1_2.append(r)

In [ ]:
new_rows_1_2[0]

{'itemID': '10000001',
 'typeID': '3',
 'groupID': '3',
 'solarSystemID': 'None',
 'constellationID': 'None',
 'regionID': 'None',
 'orbitID': 'None',
 'x': '-77361951922776896.0000000000',
 'y': '50878032664301904.0000000000',
 'z': '-64433101266115400.0000000000',
 'radius': 'None',
 'itemName': 'Derelik',
 'security': 'None',
 'celestialIndex': 'None',
 'orbitIndex': 'None'}

In [ ]:
new_rows_1_3 = []

with open('./station.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows_1_3.append(r)

In [ ]:
new_rows_1_3[0]

{'stationID': '60000004',
 'security': '0.7080867245',
 'dockingCostPerVolume': '0E-10',
 'maxShipVolumeDockable': '50000000.0000000000',
 'officeRentalCost': '10000',
 'operationID': '26',
 'stationTypeID': '1531',
 'corporationID': '1000002',
 'solarSystemID': '30002780',
 'constellationID': '20000407',
 'regionID': '10000033',
 'stationName': 'Muvolailen X - Moon 3 - CBD Corporation Storage',
 'x': '1723680890880.0000000000',
 'y': '256414064640.0000000000',
 'z': '-60755435520.0000000000',
 'reprocessingEfficiency': '0.5000000000',
 'reprocessingStationsTake': '0.0500000000',
 'reprocessingHangarFlag': '4'}

In [ ]:
new_rows_1_4 = []

with open('./jumps.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows_1_4.append(r)

In [ ]:
new_rows_1_4[0]

{'fromRegionID': '10000001',
 'fromConstellationID': '20000001',
 'fromSolarSystemID': '30000001',
 'toSolarSystemID': '30000003',
 'toConstellationID': '20000001',
 'toRegionID': '10000001'}

### 3.2 Create database

In [ ]:
%%sql 
drop database if exists microService_1;
create database if not exists microService_1;
use microService_1

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
4 rows affected.
1 rows affected.
0 rows affected.

[]

### 3.3 Create table

In [ ]:
%%sql 
drop table if exists Type_Name;
drop table if exists Map;
drop table if exists Station;
drop table if exists Jumps;

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [ ]:
%%sql 
create table if not exists Type_Name
(
    type_id           int not NULL,
    type_name         text NULL,
    
    PRIMARY KEY (type_id)
);

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [ ]:
%%sql 
create table if not exists Map
(
    item_id           int not NULL,
    type_id           int not NULL,
    group_id          int not NULL,
    solar_system_id   text NULL,
    constellation_id  text NULL,
    region_id         text NULL,
    item_name         text NULL,
    security          text NULL,
    
    PRIMARY KEY (item_id),
    FOREIGN KEY (type_id) REFERENCES Type_Name(type_id)
);

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [ ]:
%%sql 
create table if not exists Station
(
    station_id             int not NULL,
    security               int NULL,
    dockingCostPerVolume   double NULL,
    maxShipVolumeDockable  double NULL,
    officeRentalCost       double NULL,
    operationID            int NULL,
    stationTypeID          int NULL,
    corporationID          int NULL,
    
    PRIMARY KEY (station_id),
    FOREIGN KEY (station_id) REFERENCES Map(item_id)
);

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [ ]:
%%sql 
create table if not exists Jumps
(
    from_region_id        int not NULL,
    from_constellation_id int not NULL,
    from_solar_system_id  int not NULL,
    to_solar_system_id    int not NULL,
    to_constellation_id   int not NULL,
    to_region_id          int not NULL,
    
    FOREIGN KEY (from_solar_system_id) REFERENCES Map(item_id),
    FOREIGN KEY (to_solar_system_id) REFERENCES Map(item_id),
    FOREIGN KEY (from_region_id) REFERENCES Map(item_id),
    FOREIGN KEY (to_region_id) REFERENCES Map(item_id),
    FOREIGN KEY (from_constellation_id) REFERENCES Map(item_id),
    FOREIGN KEY (to_constellation_id) REFERENCES Map(item_id)
);

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
0 rows affected.

[]

In [ ]:
# %%sql 
# describe Map;
# describe Entity_Name;
# describe Station;

### 3.4 Insert Values

#### 3.4.1 Type_Name

In [ ]:
import pymysql
conn = pymysql.connect(
    host="database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)
conn

In [ ]:
insert_sql_1_1 = """
    insert into microService_1.Type_Name
        (type_id, type_name)
    values(%s,%s)
"""

In [ ]:
from tqdm import tqdm
cur = conn.cursor()
for r in tqdm(new_rows_1_1):
    # print(r.values())
    res = cur.execute(insert_sql_1_1, [r[list(r)[0]], r[list(r)[2]]])

100%|██████████| 43050/43050 [48:08<00:00, 14.90it/s]

In [ ]:
%sql select * from microService_1.Type_Name limit 10

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
10 rows affected.

[(0, '#System'),
 (2, 'Corporation'),
 (3, 'Region'),
 (4, 'Constellation'),
 (5, 'Solar System'),
 (6, 'Sun G5 (Yellow)'),
 (7, 'Sun K7 (Orange)'),
 (8, 'Sun K5 (Red Giant)'),
 (9, 'Sun B0 (Blue)'),
 (10, 'Sun F0 (White)')]

#### 3.4.2 Map

In [ ]:
insert_sql_1_2 = """
    insert into microService_1.Map
        (item_id, type_id, group_id, solar_system_id, constellation_id, region_id, item_name, security)
    values(%s,%s,%s,%s,%s,%s,%s,%s)
"""

In [ ]:
from tqdm import tqdm
cur = conn.cursor()
for r in tqdm(new_rows_1_2):
    try:
        # print(r.values())
        res = cur.execute(insert_sql_1_2, [r[list(r)[0]], r[list(r)[1]], r[list(r)[2]], r[list(r)[3]], r[list(r)[4]], r[list(r)[5]], r[list(r)[11]], r[list(r)[12]]])
    except:
        print(r)
        break

100%|██████████| 488800/488800 [14:10:13<00:00,  9.58it/s]

In [ ]:
%sql select * from microService_1.Map limit 10

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
10 rows affected.

[(10000001, 3, 3, 'None', 'None', 'None', 'Derelik', 'None'),
 (10000002, 3, 3, 'None', 'None', 'None', 'The Forge', 'None'),
 (10000003, 3, 3, 'None', 'None', 'None', 'Vale of the Silent', 'None'),
 (10000004, 3, 3, 'None', 'None', 'None', 'UUA-F4', 'None'),
 (10000005, 3, 3, 'None', 'None', 'None', 'Detorid', 'None'),
 (10000006, 3, 3, 'None', 'None', 'None', 'Wicked Creek', 'None'),
 (10000007, 3, 3, 'None', 'None', 'None', 'Cache', 'None'),
 (10000008, 3, 3, 'None', 'None', 'None', 'Scalding Pass', 'None'),
 (10000009, 3, 3, 'None', 'None', 'None', 'Insmother', 'None'),
 (10000010, 3, 3, 'None', 'None', 'None', 'Tribute', 'None')]

#### 3.4.3 Station

In [ ]:
insert_sql_1_3 = """
    insert into microService_1.Station
        (station_id, security, dockingCostPerVolume, maxShipVolumeDockable, officeRentalCost, operationID, stationTypeID, corporationID)
    values(%s,%s,%s,%s,%s,%s,%s,%s)
"""

In [ ]:
from tqdm import tqdm
cur = conn.cursor()
for r in tqdm(new_rows_1_3):
    try:
        # print(r.values())
        res = cur.execute(insert_sql_1_3, [r[list(r)[0]], r[list(r)[1]], r[list(r)[2]], r[list(r)[3]], r[list(r)[4]], r[list(r)[5]], r[list(r)[6]], r[list(r)[7]]])
    except:
        print(r)
        break

100%|██████████| 5133/5133 [09:24<00:00,  9.09it/s]

In [ ]:
%sql select * from microService_1.Station limit 10

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
10 rows affected.

[(60000004, 1, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000007, 1, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000010, 1, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000013, 1, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000016, 1, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000019, 1, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000022, 0, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000025, 1, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000028, 0, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002),
 (60000031, 0, 0.0, 50000000.0, 10000.0, 26, 1531, 1000002)]

#### 3.4.4 Jumps

In [ ]:
insert_sql_1_4 = """
    insert into microService_1.Jumps
        (from_region_id, from_constellation_id, from_solar_system_id, to_solar_system_id, to_constellation_id, to_region_id)
    values(%s,%s,%s,%s,%s,%s)
"""

In [ ]:
from tqdm import tqdm
cur = conn.cursor()
for r in tqdm(new_rows_1_4):
    # print(r.values())
    res = cur.execute(insert_sql_1_4, [r[list(r)[0]], r[list(r)[1]], r[list(r)[2]], r[list(r)[3]], r[list(r)[4]], r[list(r)[5]]])

100%|██████████| 13764/13764 [24:56<00:00,  9.20it/s]

In [ ]:
%sql select * from microService_1.Jumps limit 10

 * mysql+pymysql://admin:***@database-lol.chy7cu9rusdl.us-east-2.rds.amazonaws.com
10 rows affected.

[(10000001, 20000001, 30000001, 30000003, 20000001, 10000001),
 (10000001, 20000001, 30000001, 30000005, 20000001, 10000001),
 (10000001, 20000001, 30000001, 30000007, 20000001, 10000001),
 (10000001, 20000001, 30000002, 30000005, 20000001, 10000001),
 (10000001, 20000001, 30000002, 30002973, 20000435, 10000036),
 (10000001, 20000001, 30000003, 30000001, 20000001, 10000001),
 (10000001, 20000001, 30000003, 30000007, 20000001, 10000001),
 (10000001, 20000001, 30000003, 30000052, 20000008, 10000001),
 (10000001, 20000001, 30000003, 30000084, 20000012, 10000001),
 (10000001, 20000001, 30000004, 30000005, 20000001, 10000001)]

In [ ]:
cur.close()

## Complete